# .gitignore
*.pyc
__pycache__/
*.sqlite3

# Ignorar arquivos e diretórios de ambiente virtual
.env/
venv/

# Ignorar configurações e credenciais locais
.env
*.env

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos gerados pelo editor/IDE
.vscode/
.idea/
*.swp

# Ignorar logs
*.log

# Ignorar arquivos de cache
staticfiles/
media/

# Ignorar arquivos relacionados ao Git
*.orig